/* src/components/driver/DriverProfile.css */
.DP-driver-profile {
  color: var(--primary-text);
  padding: 20px;
}

.DP-driver-profile h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}

.DP-profile-section {
  margin-bottom: 30px;
}

.DP-profile-section h3 {
  color: var(--input-focus);
  margin-bottom: 15px;
}

.DP-profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.DP-profile-field {
  margin-bottom: 15px;
}

.DP-profile-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary-text);
}

.DP-profile-field p {
  background: var(--input-inside);
  padding: 10px;
  border-radius: 4px;
  border-left: 3px solid var(--border-color);
  box-shadow: 0 1px 3px var(--primary-text);
}

.DP-profile-field input,
.DP-profile-field select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--input-inside);
  color: var(--primary-text);
}

.DP-profile-field select option {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.DP-profile-field input:focus,
.DP-profile-field select:focus {
  outline: none;
  border-color: var(--input-focus);
  box-shadow: 0 2px 2px var(--primary-text);
}

.DP-profile-actions .DP-edit-btn {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  margin: 0px 5px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  /* margin-top: 20px; */
  transition: background-color 0.3s;
}

.DP-profile-actions .DP-edit-btn:hover {
  background: var(--button-hover-bg);
}

.DP-profile-actions .DP-cancel-btn {
  background: #c62828;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.DP-profile-actions .DP-cancel-btn:hover {
  background: #a81c1c;
}

.DP-loading,
.DP-error {
  color: var(--primary-text);
  text-align: center;
  padding: 20px;
}

.DP-error {
  color: #ff5252;
}

/* Responsive styles */
@media (max-width: 768px) {
  .DP-profile-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .DP-driver-profile {
    padding: 15px;
  }

  .DP-profile-grid {
    grid-template-columns: 1fr;
  }
}
